a{
    color: darkgreen;
    font-weight: bold;
}

a:visited{
    color:red;
    font-weight: bold;
}
a:hover {
        color: red;
        font-weight: bold;
        font-style: italic;
}
a:active {
        color: blue;
        font-weight: bold;
        font-size: 2em;
}